.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 50px 16px;
    min-height: 100vh;
}

.register__title {
    font-size: 36px;
    font-weight: 700;
}

.register__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    width: 380px;
}

.register__group {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.register__label {
    font-size: 24px;
    font-weight: 700;
}

.register__error {
    margin-top: 2px;
    color: #ff5555;
}

.register__input {
    display: block;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
    -webkit-appearance: none;
    appearance: none;
}

.register__button {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 6px;
    background-color: #000;
    cursor: pointer;
}

.register__link {
    color: #0d99ff;
    text-align: center;
}

@media (min-width: 1400px) {
    .register__form {
        width: 540px;
    }

    .register__button {
        height: 48px;
    }

    .register__title {
        font-size: 40px;
    }
}
