.attendance {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.attendance__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.attendance__title {
    padding: 5px 18px;
    text-align: center;
    border-radius: 18px;
    background-color: #c8c8c8;
    font-size: 18px;
    color: #696969;
}

.attendance__day {
    font-size: 40px;
    text-align: center;
}

.attendance__time {
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}

.attendance__button--inOut,
.attendance__button--break {
    margin-top: 50px;
    padding: 8px 60px;
    border-radius: 16px;
    font-size: 32px;
    font-weight: 700;
}

.attendance__button--inOut {
    background-color: #000;
    color: #fff;
}

.attendance__button--break {
    background-color: #fff;
    color: #000;
}