.attendance {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0eff2;
}

.attendance-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    padding: 50px 16px;
}

.attendance-detail__title {
    font-size: 30px;
    font-weight: 700;
}

.detail__error {
    margin-top: 2px;
    color: #ff5555;
}

@media (min-width: 1400px) {

    .attendance__button{
        gap: 80px;
    }

    .attendance__text {
        font-size: 26px;
    }
}

/*時計アイコン非表示*/
.detail__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

.detail__input {
    appearance: none;
    -webkit-appearance: none;
}


