.attendance {
    display: flex;
    justify-content: center;

    background-color: #f0eff2;
}

.attendance-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    gap: 28px;
    padding: 50px 16px;
}

.attendance-list__title {
    padding-left: 12px;
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: 700;
}

.attendance-list__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 700;
}

.previous-month,
.next-month {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #737373;
}

.arrow {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.this-month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-weight: 700;
}

.this-month__icon {
    font-size: 18px;
}

.attendance-list table {
    width: 100%;
}

.attendance-list th,
.attendance-list td {
    padding: 4px 30px;
    font-size: 12px;
}

.attendance-list__thead th:first-child {
    border-top-left-radius: 6px;
}

.attendance-list__thead th:last-child {
    border-top-right-radius: 6px;
}

.attendance-list__tbody tr:last-child  td:first-child {
    border-bottom-left-radius: 6px;
}

.attendance-list__tbody tr:last-child  td:last-child {
    border-bottom-right-radius: 6px;
}

.attendance-list__thead tr,
.attendance-list__tbody tr {
    border-bottom: 3px solid #f0eff2;
}

.attendance-list__thead,
.attendance-list__tbody {
    font-weight: 700;
    background-color: #fff;
    color: #737373;
}

.attendance-list__thead {
    border-radius: 6px;
}

.button-detail {
    color: #000;
}

@media (min-width: 1400px) {

.attendance-list {
    width: 900px;
}
}