.attendance {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0eff2;
}

.attendance-detail {
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    padding: 50px 16px;
}

.attendance-detail__title {
    padding-left: 12px;
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: 700;
}

.detail__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-weight: 700;
}

.detail__card {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
}

.detail__group {
    display: grid;
    grid-template-columns: 120px 1fr 40px 1fr;
    align-items: center;
    padding: 30px 40px;
    background-color: #fff;
    border-bottom: 4px solid #f0eff2;
}

.detail__group:last-child {
    border-bottom: none;
}

.detail__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: #737373;
}

.detail__display {
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 700;
}

.detail__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    gap: 40px;
    padding-left: 80px;
    font-weight: 700;
    font-size: 18px;;
}

.detail__days {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-left: 80px;
    font-weight: 700;
}

.detail__input {
    display: block;
    margin-left: 60px;
    width: 100px;
    padding: 4px 8px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.detail__group span {
    margin-left: 0;
    justify-self: center;
}

.detail__textarea {
    width: 400px;
    padding-left: 80px;
    text-align: left;
}

.detail__button {
    align-self: flex-end;
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 6px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
}

.detail__error {
    padding-left: 80px;
    width: 100%;
    grid-column: 2 / -1;
    margin-top: 2px;
    color: #ff5555;
}

.detail__message {
    align-self: flex-end;
    margin-top: 20px;
    font-size: 20px;
    color: #ff5555;
}

/*時計アイコン非表示*/
.detail__input::-webkit-calendar-picker-indicator {
    opacity: 0;
    display: none;
}

@media (min-width: 1400px) {

    .attendance-detail {
        width: 900px;
    }

    .detail__form {
        width: 100%;
    }

    .detail__label {
        font-size: 22px;
    }

    .detail__display,
    .detail__date {
        width: 500px;
        padding-left: 120px;
        font-size: 20px;
    }

    .detail__textarea {
        width: 500px;
        font-size: 20px;
    }

    .detail__input {
        margin-left: 100px;
        font-size: 20px;
    }

}
