.attendance {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.attendance__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.attendance__title {
    font-size: 24px;
    text-align: center;
}

.attendance__text {
    font-size: 16px;
    text-align: center;
    line-height: 1.8;
}
