.attendance {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0eff2;
}

.attendance-list {
    display: flex;
    flex-direction: column;
    width: 650px;
    gap: 28px;
    padding: 50px 0;
}

.attendance-list__title {
    padding-left: 12px;
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: 700;
}

.attendance-list__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 700;
}

.previous-month,
.next-month {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
    font-size: 18px;
}

.arrow {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.this-month {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.this-month__icon {
    display: block;
    width: 28px;
    height: 28px;
}

.this-month__text {
    color: #000;
    font-size: 24px;
}

.attendance-list table {
    width: 100%;
}

.attendance-list th,
.attendance-list td {
    padding: 8px 30px;
    text-align: center;
    font-size: 18px;
}

.attendance-list__header-row th:first-child {
    border-top-left-radius: 6px;
}

.attendance-list__header-row th:last-child {
    border-top-right-radius: 6px;
}

.attendance-list__body-row tr:last-child  td:first-child {
    border-bottom-left-radius: 6px;
}

.attendance-list__body-row tr:last-child  td:last-child {
    border-bottom-right-radius: 6px;
}

.attendance-list__header-row tr,
.attendance-list__body-row tr {
    border-bottom: 3px solid #f0eff2;
}

.attendance-list__header-row,
.attendance-list__body-row {
    font-weight: 700;
    background-color: #fff;
    color: #737373;
}

.button-detail {
    color: #000;
    text-decoration: none;
}

@media (min-width: 1400px) {

.attendance-list {
    width: 900px;
}


}