.request {
    display: flex;
    justify-content: center;
    background-color: #f0eff2;
}

.request-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 650px;
    gap: 28px;
    padding: 50px 16px;
}

.request-list__title {
    padding-left: 12px;
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: 700;
}

.request .tabs {
    position: relative;
    border-bottom: none;
    padding: 40px 16px 6px;
}

.request .tabs::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #818181;
    transform: translateX(-50%); pointer-events: none;
}

.tab--active {
    font-weight: 700;
}


.attendance-list table {
    width: 100%;
}

.attendance-list th,
.attendance-list td {
    padding: 8px 30px;
    font-size: 12px;
}

.request-list__header-row th:first-child {
    border-top-left-radius: 6px;
}

.request-list__header-row th:last-child {
    border-top-right-radius: 6px;
}

.request-list__body-row tr:last-child  td:first-child {
    border-bottom-left-radius: 6px;
}

.request-list__body-row tr:last-child  td:last-child {
    border-bottom-right-radius: 6px;
}

.request-list__header-row tr,
.request-list__body-row tr {
    border-bottom: 3px solid #f0eff2;
}

.request-list__header-row,
.request-list__body-row {
    font-weight: 700;
    background-color: #fff;
    color: #737373;
}

.button-detail {
    color: #000;
}

@media (min-width: 1400px) {

.attendance-list {
    width: 900px;
}


}