.request {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0eff2;
}

.request-list {
    display: flex;
    width: 700px;
    flex-direction: column;
    justify-content: space-between;
    gap: 28px;
    padding: 50px 16px;
}

.request-list__title {
    padding-left: 12px;
    border-left: 8px solid #000;
    font-size: 30px;
    font-weight: 700;
}

.detail__form {
    display: flex;
    flex-direction: column;
}

.detail__card {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
}

.detail__group {
    display: grid;
    grid-template-columns: 120px 1fr 40px 1fr;
    align-items: center;
    padding: 30px 40px;
    background-color: #fff;
    border-bottom: 4px solid #f0eff2;
}

.detail__group:last-child {
    border-bottom: none;
}

.detail__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    color: #737373;
}

.detail__display {
    display: flex;
    align-items: center;
    width: 400px;
    padding-left: 80px;
    font-size: 18px;
    font-weight: 700;
}

.detail__date {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    gap: 40px;
    padding-left: 80px;
    font-weight: 700;
    font-size: 18px;
}

.detail__days {
    display: flex;
    justify-content: center;
    flex: 1;
    padding-left: 80px;
    font-weight: 700;
}

.detail__content {
    display: block;
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 4px;
    appearance: none;
    -webkit-appearance: none;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.detail__group span {
    margin-left: 0;
    justify-self: center;
}

.detail__content--note {
    width: 400px;
    text-align: left;
    padding-left: 80px;
}

.detail__button,
.detail__message {
    align-self: flex-end;
    margin-top: 20px;
    padding: 5px 30px;
    border-radius: 6px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
}

.detail__message {
    background-color: #696969;
}

@media (min-width: 1400px) {

    .request-list {
        width: 900px;
    }

    .detail__title {
        font-size: 22px;
    }

    .detail__display,
    .detail__date,
    .detail__content--note {
        width: 500px;
        padding-left: 120px;
        font-size: 20px;
    }

    .detail__content {
        font-size: 20px;
    }

}
