.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
    padding: 50px 16px;
    min-height: 100vh;
}

.login__title {
    font-size: 36px;
    font-weight: 700;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 380px;
}

.login__group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__label {
    font-size: 24px;
    font-weight: 700;
}

.login__error {
    margin-top: 2px;
    color: #ff5555;
}

.login__input {
    display: block;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 2px;
    background-clip: padding-box;
    -webkit-appearance: none;
    appearance: none;
}

.login__button {
    cursor: pointer;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    background-color: #000;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

@media (min-width: 1400px) {
    .login__form {
        width: 540px;
    }

    .login__button {
        height: 48px;
    }

    .login__title {
        font-size: 40px;
    }
}
